<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drony</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <h1>Drony</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">홈</a></li>
                    <li><a href="/transmitted">모든 이미지</a></li>
                    <li><a href="/detected">인식된 이미지</a></li>
                    <li><a href="/result">실종자 좌표</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {content}
    </main>
</body>
</html>
